/* reset */

* {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
  background-color: green
}
table, table * {
  border: 5px solid black;
}

img {
    opacity: 0.5;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
