/* reset */

* {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}
table, table * {
  border: 1px solid black;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
