/* reset */

* {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
  max-width: 960px;
}

body {
  background: linear-gradient(135deg, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

h1 {
  font-family: impact;
  text-align: center;
  font-style: italic;
  font-weight: bold;
}

h2{
  font-family: Verdana;
  text-align: center;
  padding-top: 10px;
}

#app {
  padding: 20px;
  width: 250px;
  margin: 0 auto;
}

table, table * {
  border: 5px solid black;
}

img {
    background-position: center;
    height: 250px;
    width: 100%;
    box-sizing: border-box;
    background: linear-gradient(135deg, #e28080 0%,#b46a6a 50%,#de6767 51%,#df9c9c 100%);
}

input[type="text"], input[type="number"] {
  width: 200px;
  background-color:white;
  margin: 10px;
  padding: 5px;
  font-family: Georgia;
}

legend {
  background-color: salmon;
  border: 3px solid black;
  width: 200px;
  text-align: center;
  font-family: Verdana;
}

button {
  background-color: grey;
}

fieldset {
  border: solid black;
}

table {
  border: 2px solid black;
  height: 200px;
  margin: 0 auto;
}
th, tr {
  border: 1px solid black;
  text-align: center;
  font-weight: bold;
  background-color: #e28080;
  padding: 5px;

}

td {
  border: 1px solid black;
  text-align: center;
  width: 40px;
  height: 30px;
  padding: 5px;
  background-color: white;
}

.top-banner {
  position: relative;
  box-sizing: border-box;
  border: 2px solid black;
}

.address {
  position: relative;
  float:left;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
